*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; /* 100% da altura da viewport */
    margin: 0;     /* Remover margens padrão do body */
    background-color: #fff;
}

#quadrado1 {
    width: 30rem;   /* Largura desejada da div */
    height: 30rem;  /* Altura desejada da div */
    background-color: rgba(123, 123, 123, 0.3);
    border-radius: 10px;
}

#title{
    margin-top: 2rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}

#message-password-lenght, #message-password-number{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

#password-lenght, #password-number{
    width: 3.5rem;
    border: none;
    border-radius: 2px;
}

#password-number{
    margin-bottom: 2rem;
}

#description{
    font-size: 1.4rem;
    margin-left: 5rem;
    font-weight: 500;
}

#result{
    font-size: 1.4rem;
    margin-left: 6rem;
    justify-content: center;
}

#button-refresh{
    width: 5rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 10rem;
    background-color: rgba(0, 0, 255, 0.4);
}

